.header-deck{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 38px;
    padding: 10px 20px;
    background-color: #d0cacc4d;
    border-bottom:0.1px solid #3a3a3a;
    border-radius: 8px;
    margin-bottom: 20px;

}

.img-deck {
    width: 24px;
    height: 22px;
}

.img-cards {
    width: 48px;
    height: 42px;
}

.deck-item {
    display: flex;
    align-items: center; /* Centraliza verticalmente os elementos filhos, que incluem as imagens */
    padding: 10px;
    gap: 10px;
}


.conteudo {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    border:0.1px solid #d0cacc;
    background-color: #3a3a3a49;
    border-radius: 6px;
}

.filosofia, .memoria, .soberania {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Define 8 colunas de largura igual */
    grid-template-rows: repeat(3, 1fr); /* Define 3 linhas de altura igual */
    gap: 0.4rem; /* Espaçamento entre as cartas */
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 20px;
}

.card {
    width: 143px; /* Largura da carta */
    height: 200px;
    border-radius: 2px;  
    
    cursor: pointer;
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço da carta */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}

.modal {
  display: none; /* Ocultar o modal por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Estilos adicionais para o conteúdo do modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: #FFF;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #5e5656;
    
}

.header h3 {
    border-bottom:2px solid #CCC;
    text-align:center;
}

.logo {
    background-color: #5e5656e1;
    border-radius: 10px;
    width: 28px;
    height: 28px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

  /* CSS media query dentro de um stylesheet */
@media (max-width: 1100px) {
    .filosofia, .memoria, .soberania {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Define 8 colunas de largura igual */
        grid-template-rows: repeat(3, 1fr); /* Define 3 linhas de altura igual */
        gap: 0.4rem; /* Espaçamento entre as cartas */
        justify-content: center; /* Centraliza horizontalmente */
        margin-bottom: 20px;
    
    }
  }

  
/* CSS media query dentro de um stylesheet */
@media (max-width: 940px) {
    .filosofia, .memoria, .soberania {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Define 8 colunas de largura igual */
        gap: 0.4rem; /* Espaçamento entre as cartas */
        justify-content: center; /* Centraliza horizontalmente */
        margin-bottom: 20px;
    
    }

    h2, h3 {
      font-size: 14px;
    }

    .card {
      width: 130px; /* Largura da carta */
      height: 182px;
      border-radius: 2px;  
      
      cursor: pointer;
      background-size: cover; /* Ajusta a imagem para cobrir todo o espaço da carta */
      background-repeat: no-repeat; /* Impede a repetição da imagem */
    }
  }

/* CSS media query dentro de um stylesheet */
@media (max-width: 768px) {
    .filosofia, .memoria, .soberania {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Define 8 colunas de largura igual */
        gap: 0.4rem; /* Espaçamento entre as cartas */
        justify-content: center; /* Centraliza horizontalmente */
        margin-bottom: 20px;
    
    }
  }  

/* CSS media query dentro de um stylesheet */
@media (max-width: 720px) {
    .filosofia, .memoria, .soberania {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Define 8 colunas de largura igual */
        gap: 0.4rem; /* Espaçamento entre as cartas */
        justify-content: center; /* Centraliza horizontalmente */
        margin-bottom: 20px;
    
    }
  }  

/* CSS media query dentro de um stylesheet */
@media (max-width: 600px) {
  .filosofia, .memoria, .soberania {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Define 8 colunas de largura igual */
      gap: 0.4rem; /* Espaçamento entre as cartas */
      justify-content: center; /* Centraliza horizontalmente */
      margin-bottom: 20px;
  
  }
}
