h1,h2,h3,h4{
    margin: 0;
    color: #FFF;
}

p {
    margin: 0;
    font-size: 15px;
    white-space: pre-line; /* Mantém as quebras de linha */
    color: #FFF;
}

html {
    background-image: url(../img/backgrounds/ae953033-c319-45d7-a90d-cacde5705885.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Isso evita que o fundo role com a página */
    height: 100%; /* Define a altura da página como 100% */
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.navbar {
    top: 0;
    width: 100%;
    height: 4vh;
    padding: 10px 20px;
    background-color: #111010;
    color: white;
    border-bottom:0.1px solid #3a3a3a;

    display: flex;
    justify-content: center;    
    align-items: center;
    position: fixed;
}

.nav-list {
    display: flex;    
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 14vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 2vh;
}

.nav-item.active {
    color: #307af7;
    border-bottom: 2px solid #307af7; /* Adicione uma linha azul na parte inferior do link ativo */
}

.conteudo {
    margin-top: 100px; /* Reduzi o margin-top para 80px */
    max-width: 70%;
    padding: 20px;
}
